
  <nav class="navbar position-sticky navbar-expand-lg bg-black" >
    <div class=" container-fluid">
      <h1> <span class="badge  bg-light text-primary " >SKILL UP</span></h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" class="justify-content-md-end"  >
        <div class="navbar-nav d-grid gap-2 d-md-flex ">
         <!-- <a class="nav-link active text-white"  class="btn btn-primary rounded-pill" aria-current="page" routerLink="/login">Login</a> -->
          <a class="nav-link text-white" class="btn btn-primary  rounded-pill"  routerLink="/register">Register</a>
         <a class="nav-link text-white" class="btn btn-primary rounded-pill" routerLink="/showdata">Showdata</a>
        </div>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

