<!-- <p>update works!</p> -->
<!-- <p>register works!</p> -->
<!-- <p>register works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                
                <div class="text-center">
                    <h1>Update</h1>
                    <h6>Update User</h6>                    
                </div>
                <form>
                    <form>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label  class="form-label">Name</label>
                                <input type="text" class="form-control" [(ngModel)]="info.name" name="username">
                              </div>
                              <div class="mb-3">
                                <label class="form-label">Mobile</label>
                                <input type="number" class="form-control" [(ngModel)]="info.mobile" name="usermobile" >
                              </div>
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" [(ngModel)]="info.email" name="useremail" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
    
                        <button type="submit" class="btn btn-primary mb-2" (click)="onUpdateuser()">Update</button>

                      </form>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <pre>{{info | json}}</pre> -->
