<!-- <p>register works!</p> -->
<!-- <p>register works!</p> -->
<div class="container" >
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Register</h1>
                    <h6>Register User</h6>                    
                </div>
                <form >
                    <form >
                        <div class="mb-3">
                            <div class="mb-3">
                                <label  class="form-label" >Name</label>
                                <input type="text"  class="form-control" autocomplete="off" [(ngModel)]="info.name" name="username">
                              </div>
                              <div class="mb-3">
                                <label class="form-label">Mobile</label>
                                <input type="number"  class="form-control" [(ngModel)]="info.mobile" name="usermobile" >
                              </div>
                          <label for="exampleInputEmail1"  class="form-label">Email</label>

                          <input  type="email"  class="form-control" [(ngModel)]="info.email" name="useremail" autocomplete="off" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input  type="string"  class="form-control" [(ngModel)]="info.password" name="userpwd" id="exampleInputPassword1">
                        </div>
                         
                        <td><button type="submit" class="btn btn-primary mb-2" (click)="onSubmit()" >Register</button></td>
                        
                       <td> <button type="submit" class="btn btn-primary mb-2 btn-align-right" (click)="onSubmit()" routerLink="/showdata"  >Cancel</button></td>
                      </form>
                      <a  style="color: white;margin-top:10px; "  routerLink="/login">Alrady Registerd? Click to Login..!</a><br>
                       <!-- <a  style="color: white;margin-top:10px" routerLink="/showdata">Showdata</a> -->
             </form>
            </div>
        </div>
    </div>
</div> 

